<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="px-2 md:px-8 py-4">
      <div class="text-[13px]">
         <span v-if="true == shouldAddBackToSearchListLink" class="pr-2 cursor-pointer" @click="backSearch">
            <fa-icon icon="caret-left"></fa-icon>
            Back to Search
         </span>
         <span class="cursor-pointer" @click="backHome">
            <fa-icon icon="caret-left"></fa-icon>
            Home
         </span>
      </div>

      <div class="pt-3 text-[22px] font-light">
         {{title}}
      </div>

      <div class="md:flex pt-4">
         <div class="md:flex-none">
            <img :src="getBookCover()" @load="bookCoverCheck" class="object-scale-down h-[260px] mx-auto pb-2" />
            <!-- average_rating -->
            <ratings :ratings="ratings" class="px-1 inline-block"></ratings>
            <span class="text-[13px] font-bold pl-2 text-green-800">
               {{ratingsCount}} ratings
            </span>
            
         </div>
         <!-- side column for book meta and add-to-cart button -->
         <div class="pt-9 md:flex-auto md:pl-3 md:pt-1">
            <div class="">
               <div class="pr-5 text-[13px] inline-block w-[120px] pb-1">Author(s)</div>
               <span class="">{{source['authors']}}</span>
            </div>
            <div class="">
               <div class="pr-5 text-[13px] inline-block w-[120px] pb-1">Publisher</div>
               <span class="">{{source['publisher']}}</span>
            </div>
            <div class="">
               <div class="pr-5 text-[13px] inline-block w-[120px] pb-1">Publication Date</div>
               <span class="">{{publicationDate}}</span>
            </div>
            <div class="">
               <div class="pr-5 text-[13px] inline-block w-[120px] pb-1">Pages</div>
               <span class="">{{source['num_pages']}}</span>
            </div>
            <div class="">
               <div class="pr-5 text-[13px] inline-block w-[120px] pb-1">Language(s)</div>
               <span class="">{{source['language_code']}}</span>
            </div>
            <div class="">
               <div class="pr-5 text-[13px] inline-block w-[120px] pb-1">ISBN</div>
               <span class="">{{source['isbn']}}</span>
            </div>
            <div class="">
               <div class="pr-5 text-[13px] inline-block w-[120px] pb-1">ISBN 13</div>
               <span class="">{{source['isbn13']}}</span>
            </div>
            <!-- add to cart buttons -->
            <button class=" w-[calc(100%+0rem)] px-2 md:w-auto rounded-xl border border-slate-300 bg-green-50 md:px-6 py-3 mt-3 text-slate-600 hover:bg-green-100 hover:border-slate-400 "
               @click="handleAddtoCart">Add to Cart</button>
            <!-- [re-design] instead of button, maybe just an icon??? -->
            <!--button class=" w-[calc(100%+0rem)] px-2 md:w-auto rounded-xl border border-slate-300 bg-blue-100 md:ml-2 md:px-6 py-3 mt-3 text-slate-600 hover:border-slate-400 hover:bg-blue-200 "
               @click="handleAddToList">Add to List</button-->
         </div>
      </div>
   </div>

   <!-- lorem ipsum text -->
   <hr class="w-[calc(90%+0rem)] mx-auto mt-[12px] mb-[24px]" />
   <div class="px-3 md:px-6 pb-3 text-[13px]">
      <fa-icon icon="book"></fa-icon>
      Summary
   </div>
   <div v-for="words in loremIpsum()" 
      class="px-3 md:px-6 pb-3 indent-3 md:indent-6 text-justify" >{{words}}</div>
   
</template>

<script>
import ratings from './Ratings.vue';
import { LoremIpsum } from 'lorem-ipsum';

export default {
   components: {
      ratings,
   },
   props: {
      // actual document's ID for retrieval
      docID: String,
      // is the forward from a search-list? url path - String
      fromSearchList: String,
      // a generic object containing the request book through the docID
      onMountPayload: Object,
      // need to re-run mount event??
      needToRunQuery: Boolean,
   },
   emits: ['onMount', 'messageChange'],
   mounted() {
      // [debug]
      //console.log(`book on Mount : ${this.docID}`);
      this.$emit('onMount', { name: 'Book', 'docID': this.docID, fromSearchList: this.fromSearchList, });
   },
   computed: {
      shouldAddBackToSearchListLink: function() {
         return ('true' == this.fromSearchList);
      },
      hitByGet: function() {
         let _h = {};
         if (null != this.onMountPayload) {
            _h = this.onMountPayload.hitByGet;
         }
         return _h;
      },
      title: function() {
         const _hit = this.hitByGet;
         if (null != _hit) {
            return _hit['_source']['title'];
         }
         return '';
      },
      ratings: function() {
         const _hit = this.hitByGet;
         if (null != _hit) {
            return _hit['_source']['average_rating'];
         }
         return 0;
      },
      ratingsCount: function() {
         const _hit = this.hitByGet;
         if (null != _hit) {
            return _hit['_source']['ratings_count'];
         }
         return 0;
      },
      source: function() {
         const _hit = this.hitByGet;
         if (null != _hit) {
            return _hit['_source'];
         }
         return {};
      },
      publicationDate: function() {
         let _hit = this.hitByGet;
         if (null != _hit) {
            _hit = _hit['_source']['@timestamp'];
            // extraction
            const _i = _hit.indexOf('T');
            return _hit.substring(0, _i);
         }
         return 'unknown';
      },

   },
   methods: {
      backHome: function() {
         this.$router.push({ path: "/" });
      },
      // add back the router logics
      backSearch: function() {
         //this.$router.push({ name: "listing" });
         let _criteria = this.$store.state.searchCriteria;
         _criteria['from'] = 0;
         this.$store.commit('setSearchCriteria', _criteria);
         
         this.$router.push({ path: `/book/listing/1` });
      },

      
      getBookCover: function() {
         if (null != this.hitByGet && null != this.hitByGet['_source']) {
            return `https://covers.openlibrary.org/b/isbn/${this.hitByGet['_source']['isbn']}-M.jpg`;;
         }
         return '';
      },
      loremIpsum: function() {
         const _li = new LoremIpsum({
            sentencesPerParagraph: {
               max: 12,
               min: 8,
            },
            wordsPerSentence: {
               max: 24,
               min: 6
            },
         });
         return _li.generateParagraphs(2).split('\n');
      },
      // logic - design on add-to-cart -> store within elasticsearch
      handleAddtoCart: async function() {
         // [debug]
         //console.log(`## inside addTocart handler: ${this.$getUsername()}`);
         // [params] username, docID, isbn, isbn13, title, bookID, publisher, authors
         const _res = await this.$post('/addToCart', {
            username: this.$getUsername(),
            docID: this.hitByGet['_id'],
            isbn: this.source['isbn'],
            isbn13: this.source['isbn13'],
            title: this.source['title'],
            bookID: this.source['bookID'],
            publisher: this.source['publisher'],
            authors: this.source['authors'],
         });
         // handler~~ for success or failure
         const _res2 = this.$isValidESOperation(_res);
         if (true == _res2['200']) {
            this.$emit('messageChange', { message: 'book added to shopping cart', 
               level: 0, needHeaderRefresh: true, 
            });
            this.$setCart();
         } else {
            // is it auth issue?
            let _needHeaderRefresh = false;
            const _fRes = this.$isValidESOperation(_res);
            if (false == _fRes['200']) {
               // reset the auth status (has_u_token and u_name)
               this.$setUserAuth(false);
               this.$setUsername('');
               this.$unsetCart();
               _needHeaderRefresh = true;
            }
            this.$emit('messageChange', { message: `FAILED to add book to shopping cart. ${_res['data']['errMsg']}`, 
               level: 2, 
               needHeaderRefresh: _needHeaderRefresh, 
            });
         }
      },
      bookCoverCheck: function(img) {
         this.$bookCoverCheck(img);
      },
      
      // [other methods]
   },

}
</script>