<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="h-[380px] md:h-[280px] drop-shadow-md border border-slate-100 rounded-md mx-1 py-3">
      <div class="h-[300px] md:h-[200px]">
         <img :src="getBookCover()" 
            @click="bookClick"
            @load="bookCoverCheck"
            class="object-scale-down h-[300px] md:h-[200px] cursor-pointer my-auto w-[calc(100%+0rem)] mx-auto" />
      </div>
      <div class="h-[20px] text-center mt-4 truncate">
         {{getBookAuthors()}}
      </div>
      <div class="h-[20px] text-center truncate">
         {{publisher}}
      </div>
   </div>
</template>

<script>
export default {
   emits: [ 'bookClick' ],
   props: {
      docID: String,
      isbn: String,
      isbn13: Number,
      publisher: String, 
      authors: String,
   },
   methods: {
      getBookCover: function() {
         // thanks for 'Open Library Covers API' - https://openlibrary.org/dev/docs/api/covers
         // syntax -> https://covers.openlibrary.org/b/isbn/{{isbn}}-{{size}}.jpg
         return `https://covers.openlibrary.org/b/isbn/${this.isbn}-M.jpg`;
      },
      getBookAuthors: function() {
         let _m = ' - ';
         if (null != this.authors && this.authors.indexOf('NOT A BOOK') == -1) {
            _m = this.authors;
         }
         return _m;
      },
      bookCoverCheck: function(img) {
         this.$bookCoverCheck(img);
      },

      bookClick: function() {
         this.$emit('bookClick', this.docID);
      },
   },
}
</script>