<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="bg-slate-100 ">
      <div class="px-[20px] py-[30px] md:w-min-[800px] md:w-[calc(80%)] md:mx-auto">
         <div class="bg-white rounded-sm px-[20px] py-[20px]">
            <div class="flex">
               <div class="flex-initial text-[20px] font-bold">My shopping bag</div>
               <div class="flex-auto text-right">
                  <fa-icon icon="house" class="cursor-pointer" @click="home"></fa-icon>
               </div>
            </div>
            
            <hr class="mt-3 mb-5"  />

            <!-- if nothing available in the cart -->
            <div v-if="items.length == 0" class="text-[24px] text-amber-500 text-center pt-5 pb-8 ">
               You have nothing in your bag
            </div>

            <div v-if="items.length > 0" class="md:flex">
               <!-- another level ... -->
               <div class="md:flex-initial w-[calc(100%+0rem)] md:w-[calc(50%+1rem)]">
                  <div v-for="(item, idx) in items" class="flex pb-[8px]">
                     <div class="h-[300px] md:h-[200px] w-[calc(50%+0rem)] rounded-md bg-slate-100 flex-none">
                        <img :src="getBookCover(item.isbn)" 
                           @load="bookCoverCheck"
                           @click="forwardToBook(item.docID)"
                           class="object-scale-down h-[300px] md:h-[200px] py-[24px] cursor-pointer my-auto mx-auto" />
                     </div>
                     <div class="flex-auto pl-[24px] pt-[20px]">
                        <div class="text-[24px] font-bold">$ {{getRandomPrice()}}</div>
                        <div class="text-[16px] text-justify pt-2">{{item.title}}</div>
                        <div class="text-[13px] pt-2">
                           by <span class="font-bold">{{item.authors}}</span>
                           <span class="pl-2">- {{item.publisher}}</span>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="md:flex-auto">
                  <!-- checkout area -->
                  <div class="md:ml-[48px] mt-[20px] md:mt-0 bg-slate-100 px-[36px] rounded-sm ">
                     <div class="flex pt-[24px] ">
                        <div class="flex-initial text-[18px] font-bold">TOTAL</div>
                        <div class="flex-auto text-right text-[18px] font-light">$ {{getSubtotal}}</div>
                     </div>
                     <button @click="checkout"
                        class="mt-[20px] w-[calc(100%+0rem)] bg-amber-500 text-white rounded-md h-[50px] hover:bg-amber-400 hover:text-slate-600" >
                        CHECKOUT
                     </button>
                     <div class="text-[13px] pt-[32px] font-bold ">Payable by ?</div>
                     <div class="flex text-center text-[32px] pb-[36px]">
                        <div class="flex-auto"><fa-icon :icon="['fa-brands', 'paypal']"></fa-icon></div>
                        <div class="flex-auto"><fa-icon :icon="['fa-brands', 'cc-paypal']"></fa-icon></div>
                        <div class="flex-auto"><fa-icon :icon="['fa-brands', 'cc-amazon-pay']"></fa-icon></div>
                        <div class="flex-auto"><fa-icon :icon="['fa-brands', 'cc-apple-pay']"></fa-icon></div>
                        <div class="flex-auto"><fa-icon :icon="['fa-brands', 'cc-stripe']"></fa-icon></div>
                        <div class="flex-auto"><fa-icon :icon="['fa-brands', 'cc-visa']"></fa-icon></div>
                     </div>
                  </div>
               </div>
            </div> <!-- have items -->

         </div>
      </div>
   </div>
</template>

<script>
export default {
   props: {
      // a generic object containing data for display
      onMountPayload: Object,
      // need to re-run mount event??
      needToRunQuery: Boolean,
   },
   emits: [ 'onMount', 'messageChange' ],
   mounted() {
      this.$emit('onMount', { name: 'Checkout' });
   },
   data() {
      return {
         // all generated prices for the cart items (random)
         prices: [],
      };
   },
   computed: {
      // actual cart's content
      cartContent: function() {
         let _cart = {};
         if (null != this.onMountPayload) {
            _cart = this.onMountPayload.cartContent;
         }
         return _cart;
      },
      // is the cart available (payload.found == true)
      isCartAvailable: function() {
         const _content = this.cartContent;
         let _found = false;
         if (null != _content) {
            _found = this.cartContent.found;
         }
         return (undefined != _found && null != _found && true == _found);
      },
      // actual items within the on-mount payload
      items: function() {
         let _items = [];
         if (true == this.isCartAvailable) {
            _items = this.cartContent._source.items;
         }
         return _items;
      },
      getSubtotal: function() {
         let _st = 0;
         this.prices.map((val) => {
            _st += val;
         });
         // format
         let _stString = new Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' }).format(_st);
         if (_stString.length > 4) {
            _stString = _stString.substring(3);
         }
         return _stString;
      },
      

   },
   methods: {
      getBookCover: function(isbn) {
         // thanks for 'Open Library Covers API' - https://openlibrary.org/dev/docs/api/covers
         // syntax -> https://covers.openlibrary.org/b/isbn/{{isbn}}-{{size}}.jpg
         return `https://covers.openlibrary.org/b/isbn/${isbn}-M.jpg`;
      },
      bookCoverCheck: function(img) {
         this.$bookCoverCheck(img);
      },
      getRandomPrice: function() {
         const _price = Math.round((Math.random() * 180 + 20) * 100) / 100;
         this.prices.push(_price);
         return _price;
      },
      checkout: async function() {
         // call backend to update the cart entry -> remove the items; but should also record down the purchase as history...
         // parse the axios response
         // update the toast for the above result
         const _res = await this.$post('/checkout', {
            username: this.$getUsername(),
         });
         const _res2 = this.$isValidESOperation(_res);
         if (null != _res2 && true == _res2['200']) {
            this.$emit('messageChange', { message: 'shopping cart checked-out successfully', 
               level: 0, needHeaderRefresh: true, 
            });
         } else {
            this.$emit('messageChange', { message: `FAILED to checkout the shopping cart. ${_res['data']['errMsg']}`, 
               level: 2, 
               needHeaderRefresh: true, 
            });
         }
      },
      home: function() {
         this.$router.push({ path: '/' });
      },
      forwardToBook: function(docID) {
         this.$router.push({ path: `/book/${docID}/false` });
      }, 

   },

}
</script>