<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<template>
   <!-- common dialog -->
   <dlg :show="shouldShowDlg" :dlgType="dlgType" :msg="dlgMsg" @dlgClick="handleDlgClick"></dlg>
   <!-- side menu - shown when the hamburger button is clicked -->
   <side-menu :show="shouldShowSideMenu" @optionClick="handleSideMenuOptionClick"></side-menu>
   <!-- login dialog -->
   <login-dlg :show="shouldShowLoginDlg" @loginClick="handleLoginClick"></login-dlg>


   <div class="bg-slate-900 text-white px-2 py-[4px] flex align-middle leading-[50px] h-[50px] sticky top-0 z-[5]">
      <!-- hamburger icon - menulist (only appear when it is "sm" or below width) -->
      <div class="sm:hidden flex-none w-[32px] pr-[8px]">
         <fa-icon icon="bars" class="cursor-pointer text-[22px] align-baseline text-center" @click="handleMenuListing"></fa-icon>
      </div>
      <!-- bookstore brand icon -->
      <!-- [lesson] default is hidden (mobile first), showing this icon since "sm" width -->
      <div class="hidden sm:block flex-none w-[32px]">
         <fa-icon icon="swatchbook" class="text-[22px] align-baseline text-center " @click="showInfoDlg"></fa-icon>
      </div>

      <!-- searchable / escapable textinput -->
      <div class="flex-auto px-[12px]">
         <div class="flex leading-[42px] h-[42px]">
            <input type="text" 
               v-model='queryText'
               @keyup.enter="handleSubmit"
               class="flex-auto text-black rounded-tl-sm rounded-bl-sm px-2 text-[15px]" 
               placeholder="search for something?" />
            <!-- display the advance search dialog ? -->
            <div class="flex-none w-[32px] bg-yellow-500 text-center rounded-br-sm rounded-tr-sm cursor-pointer" 
               @click="handleAdvanceSearchDlg">
               <fa-icon :icon="getAdvDlgIcon" ></fa-icon>
            </div>
         </div>
      </div>

      <!-- login/profile icon -->
      <div class="hidden sm:block flex-none w-[32px] align-middle leading-[42px] h-[42px] text-center" 
         data-tippy-content
         @click="handleAuth">
         <fa-icon :icon="['far', 'user']" v-if="false == isAuth()" class="cursor-pointer" />
         <fa-icon icon="user"             v-if="true == isAuth()"  class="cursor-pointer"  ></fa-icon>
      </div>

      <!-- shopping cart icon -->
      <div class="hidden sm:block flex-none w-[32px] align-middle leading-[42px] h-[42px] text-center cursor-pointer" @click="handleCart">
         <fa-icon icon="cart-shopping"   v-if="true == isCartEmpty()"   ></fa-icon>

         <fa-layer v-if="false == isCartEmpty()">
            <fa-icon icon="cart-shopping" class="text-[20px]"></fa-icon>
            <fa-icon icon="circle" class="text-amber-400" transform="shrink-6 right-12 up-7"></fa-icon>
         </fa-layer>
         <!-- added for virtual dom update purpose -->
         <span class="w-0 h-0 hidden">{{counter}}</span>
      </div>

   </div>

   <!-- advance search panel -->
   <div v-if="true==shouldShowAdvDlg"
      :class="cssAdvSearchDlg"
      class="bg-slate-900 text-white px-2 py-[4px] transition ease-in-out delay-300 sticky top-[50px] z-[5]">
      <div class="bg-white rounded-md text-black mx-[10px] mb-2 -translate-y-1 px-6 py-4 md:max-w-[720px] md:mx-auto">
         <!-- field to be searched against -->
         <div class="text-[12px] font-semibold">Fields:</div>
         <div class="md:flex px-[12px]">
            <div class="md:flex-auto">
               <input type="checkbox" v-model="advFields" value="isbn" />
               <span class="pl-2">isbn</span>
            </div>
            <div class="md:flex-auto">
               <input type="checkbox" v-model="advFields" value="isbn13" /><span class="pl-2">isbn13</span>
            </div>
            <div class="md:flex-auto">
               <input type="checkbox" v-model="advFields" value="title" /><span class="pl-2"><span class="text-red-600 pr-1">*</span>title</span>
            </div>
            <div class="md:flex-auto">
               <input type="checkbox" v-model="advFields" value="authors" /><span class="pl-2"><span class="text-red-600 pr-1">*</span>authors</span>
            </div>
            <div class="md:flex-auto">
               <input type="checkbox" v-model="advFields" value="publisher" /><span class="pl-2"><span class="text-red-600 pr-1">*</span>publisher</span>
            </div>
            <div class="md:flex-auto">
               <input type="checkbox" v-model="advFields" value="language_code" /><span class="pl-2">language</span>
            </div>
         </div>
         <!-- range to be searched against -->
         <div class="text-[12px] font-semibold mt-6">Range:</div>
         <div class="md:flex px-[12px]">
            <div class="md:flex-auto">
               <input type="radio" v-model="advRangeFields" value="num_pages" />
               <span class="pl-2"># pages</span>
            </div>
            <div class="md:flex-auto">
               <input type="radio" v-model="advRangeFields" value="average_rating" /><span class="pl-2"><span class="text-red-600 pr-1">*</span>ratings</span>
            </div>
            <div class="md:flex-auto">
               <input type="radio" v-model="advRangeFields" value="ratings_count" /><span class="pl-2"># ratings</span>
            </div>
            <div class="md:flex-auto">
               <input type="radio" v-model="advRangeFields" value="@timestamp" /><span class="pl-2">publication date</span>
            </div>
         </div>
         <div class="px-3 pt-3 md:flex md:w-[500px]">
            <div class="md:flex-auto">
               <span class="pr-2">starting from (inclusive)</span>   
            </div>
            <input type="text" 
               class="flex-none border border-slate-400 rounded-md px-2 text-[14px] w-[250px]" 
               v-model="advRangeStart" 
               placeholder="e.g 12 OR 2022-12-25" />
         </div>
         <div class="px-3 pt-3 md:flex md:w-[500px]">
            <div class="flex-auto">
               <span class="pr-2">ending at (inclusive)</span>   
            </div>
            <input type="text" 
               class="flex-none border border-slate-400 rounded-md px-2 text-[14px] w-[250px]" 
               v-model="advRangeEnd" 
               placeholder="e.g 12 OR 2022-12-25" />
         </div>

         <!-- buttons -->
         <div class="text-right mt-9">
            <button @click="handleAdvSearchReset" class="bg-white border border-slate-700 rounded-md mx-1 px-6 py-2 font-extralight hover:bg-sky-400 hover:text-white">reset</button>
            <button @click="handleAdvSearchClick" class="bg-white border border-slate-700 rounded-md mx-1 px-6 py-2 font-extralight hover:bg-sky-400 hover:text-white">search</button>
         </div>
         <div class="text-red-400 italic text-[14px] font-bold">* are the default fields for searching</div>
      </div>
   </div>
</template>

<script>
import dlg from './Dialog.vue';
import sideMenu from './SideMenu.vue';
import loginDlg from './LoginDialog.vue';
// tooltip
import tippy from 'tippy.js';

export default {
   components: {
      dlg,
      sideMenu,
      loginDlg,
   },
   emits: [ 'searchBy' ],
   props: {
      counter: Number,
   },
   emits: ['needRefreshCounter', 'searchBy'],
   mounted() {
      // [bug??] failed if the icon was not visible at the beginning... seems the setup only affects visible components
      this.updateTooltip();
   },
   data() {
      return {
         // should show the side menu??
         shouldShowSideMenu: false,
         // should show the advance search dialog??
         shouldShowAdvDlg: false,
         // should show the login dialog??
         shouldShowLoginDlg: false,

         // controls whether dialog should be shown
         shouldShowDlg: false,
         dlgType: 'alert',
         dlgMsg: '',

         // queryText: the text content for search
         queryText: '',
         // the advance search "fields" chosen
         advFields: [ 'title', 'authors', 'publisher' ],
         advRangeFields: 'average_rating',
         advRangeStart: '',
         advRangeEnd: '',
      };
   },
   computed: {
      getAdvDlgIcon: function() {
         let _i = [ 'fas', 'caret-right' ];
         if (this.shouldShowAdvDlg == true) {
            _i = [ 'fas', 'caret-down' ];
         }
         return _i;
      },
      cssAdvSearchDlg: function() {
         let _c = {};
         if (true == this.shouldShowAdvDlg) {
            _c['h-[1000px]'] = true;
            _c['h-0'] = false;
         }
         return _c;
      },

   },
   methods: {
      isAuth: function() {
         // [debug]
         //console.log(`within header comp calling isAuth: ${this.$isUserAuth()}`);

         // force an update on tooltip content
         this.updateTooltip();

         return this.$isUserAuth();
      },
      isCartEmpty: function() {
         return this.$isCartEmpty();
      },
      handleAuth: async function() {
         if (false == this.$isUserAuth()) {
            this.shouldShowLoginDlg = true;
            this.$fixedBodyPosition(true);
         } else {
            console.log(`inside logout`);
            try {
               // logout the user - remove session cookies, update UI status like k_cart
               await this.$post('/logout');
               /* if (null != _res && 200 == _res.data.code) { ... } */

            } catch(e) {
               console.log(`logout failed [unexpected] ... `);
               console.log(e);

            } finally {
               this.$setUserAuth(false);
               this.$setUsername('');
               this.$unsetCart();
               // force refresh
               this.$emit('needRefreshCounter');
            }
         }
      },
      handleCart: function() {
         // forward to the cart checkout page
         if (false == this.isCartEmpty()) {
            this.$router.push({ name: 'checkout' });
         }
      },
      // [done] handleMenuListing - method to toggle the side menu toggling.
      handleMenuListing: function() {
         this.shouldShowSideMenu = true;
         this.$fixedBodyPosition(true);
      },
      // [done] handleAdvanceSearchDlg - method to toggle the adv search panel and reset of forms.
      handleAdvanceSearchDlg: function() {
         if (this.shouldShowAdvDlg == false) {
            this.shouldShowAdvDlg = true;
         } else {
            this.shouldShowAdvDlg = false;
            this.handleAdvSearchReset();
         }
      },
      // [done] handleSubmit - calling the [handleAdvSearchClick()] to run a search query against the server.
      handleSubmit: function() {
         this.handleAdvSearchClick();
      },
      handleAdvSearchClick: function() {
         // [debug]
         /*
         console.log(this.advFields);
         console.log(this.advRangeFields);
         console.log(`ranges ${this.advRangeStart} ~ ${this.advRangeEnd}`);
         console.log(`submit the search: ${this.queryText} -> ${this.shouldShowAdvDlg}`);
         */
         // handle the search (send back all related fields to the parent component)
         // save the search-criteria to store...
         this.$store.commit('setSearchCriteria', {
            // is advance search or not
            shouldShowAdvDlg: this.shouldShowAdvDlg, 
            queryText: this.queryText,

            // advance search fields
            advFields: this.advFields,

            advRangeFields: this.advRangeFields,
            advRangeStart: this.advRangeStart,
            advRangeEnd: this.advRangeEnd,

            // pagination
            from: 0,
            size: 10,
         });
         this.$emit('searchBy');
      },
      // [done] handleAdvSearchReset - reset the adv search form's elements.
      handleAdvSearchReset: function() {
         this.advFields = [ 'title', 'authors', 'publisher' ];
         this.advRangeFields = 'average_rating';
         this.advRangeStart = '';
         this.advRangeEnd = '';
      },
      handleDlgClick: function() {
         switch (this.dlgType) {
            case 'info':
               this.$fixedBodyPosition(false);
               this.shouldShowDlg = false;
               this.dlgType = 'alert';
               this.dlgMsg = '';
               break;
         }
      },
      // [done] handleSideMenuOptionClick - handling the side menubar options (only available when the screen media is small)
      handleSideMenuOptionClick: function(payload) {
         switch (payload) {
            case 'info':
               this.showInfoDlg();
               break;
            case 'login':
               this.handleAuth();
               break;
            case 'cart':
               this.handleCart();
               break;
         }
         this.shouldShowSideMenu = false;
         this.$fixedBodyPosition(false);
      },
      // [done] handleLoginClick - typically no logic required in here.
      handleLoginClick: function(payload) {
         this.shouldShowLoginDlg = false;
         this.$fixedBodyPosition(false);
      },

      // [done] showInfoDlg - method to show the info dialog.
      showInfoDlg: function() {
         this.$fixedBodyPosition(true);
         this.shouldShowDlg = true;
         this.dlgType = 'info';
         this.dlgMsg = '';
      },


      updateTooltip: function() {
         let _content = '<div class="">logout</div>';
         if (false == this.$isUserAuth()) {
            //console.log(`false isAuth`);
            _content = '<div class="">login</div>';
         }
         tippy('[data-tippy-content]', {
            arrow: true,
            theme: 'light-border',
            placement: 'auto',
            content: _content,
            allowHTML: true,
         });
      },

   },

}
</script>

<!-- [lesson] stacking fontawesome icons together to create badge
TRY ~~~ fa-stack / layers icons~ cart + number
// [ref] https://github.com/FortAwesome/vue-fontawesome/issues/44
// [ref] https://ourcodeworld.com/articles/read/463/how-to-use-numbers-on-icons-with-fontawesome
// [ref] https://fontawesome.com/v5/docs/web/style/power-transforms

<fa-layer>
   <fa-icon icon="cart-shopping" class="text-[20px]"></fa-icon>
   <fa-icon icon="circle" class="text-amber-400" transform="shrink-4 right-11 up-5"></fa-icon>
   <fa-icon icon="1" class="text-black" transform="shrink-7 right-11 up-5" />
</fa-layer>
-->