<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<template>
   <!-- [lesson] a counter|variable is passed to the child components to force the child to re-evaluate its virtual DOM -->
   <header-comp :counter="counter" 
      @needRefreshCounter="handleHeaderRefreshCounter"
      @searchBy="handleSearchBy"></header-comp>

   <!-- notification message -->
   <toast :message="notification" 
      :shouldDisplay="shouldDisplayToast"
      :level="notificationLevel" @close="handleToastClose" ></toast>

   <!-- subview -->
   <router-view @messageChange="handleMessageChangeBySubview"
      @onMount="handleSubviewOnMount" 
      :needToRunQuery="needToRunQueryForSubview"
      :onMountPayload="viewLandingPayload"></router-view>
   
   



   <!-- p>
      [debug]
      <img class="px-8 py-8" src="https://covers.openlibrary.org/b/isbn/97803855332fff25-M.jpg" @load="handleImageLoad" />
   </p -->

   <!-- p>
      [debug]
      <button class="border border-sky-500 px-3 py-2" @click="handleTestAuth" >test auth cookie</button>
   </p -->
   <!-- p>
      [debug]
      <paginator :totalRecords="debug.totalRecords" :pageSize="debug.pageSize" 
         :currentPage="debug.currentPage" 
         :mode="debug.mdoe" ></paginator>
      <button @click="debug.currentPage++" class="pl-4 pr-8"> inc </button>
      <button @click="debug.currentPage--"> dec </button>
   </p -->

   <!-- examples on using font-awesome -->
   <!--
   <fa-icon icon="trash"></fa-icon>
   <fa-icon :icon="['fab', 'github']" />
   <fa-icon :icon="['far', 'address-card']" />

   // [ref] https://github.com/FortAwesome/vue-fontawesome/issues/44
   // [ref] https://ourcodeworld.com/articles/read/463/how-to-use-numbers-on-icons-with-fontawesome
   // [ref] https://fontawesome.com/v5/docs/web/style/power-transforms
   <fa-layer>
      <fa-icon icon="cart-shopping" class="text-[20px]"></fa-icon>
      <fa-icon icon="circle" class="text-amber-400" transform="shrink-4 right-11 up-5"></fa-icon>
      <fa-icon icon="1" class="text-black" transform="shrink-7 right-11 up-5" />
   </fa-layer>
   -->

   <!--button data-tippy-content>Text</button-->

</template>

<script>
import headerComp from './Header.vue';
import toast from './Toast.vue';

export default {
   components: {
      headerComp,
      toast,
   },
   data() {
      return {
         // counter - a flag|variable for triggering chile components to re-evaluate its virtual DOM if necessary
         counter: -1,

         // track down the last|current searchBy criterium
         //lastSearchByCriteria: {},

         // hits for the landing page
         viewLandingPayload: {
            // hits sorted by average_rating + ratings_count (popularity)
            hitsByRatings: [],
            // hits sorted by ratings_count (popularity) + average_rating
            hitsByPopularity: [],
            
            // hit through a GET
            hitByGet: {},
            // should add "return to search" link?
            returnSearchListing: false, 

            // hits resulted from search-bar
            hitsBySearch: {}, //[],

            // shopping cart content associated with the username
            cartContent: {},
         },

         // notification message for display
         notification: '',
         notificationLevel: 0,
         shouldDisplayToast: false, 

         // force re-run mount event for subviews on updating Query hits
         needToRunQueryForSubview: false,
         sequence: 0,

         // [debug]
         debug: {
            pageSize: 10,
            totalRecords: 219,
            currentPage: 1,
            mode: 0,
         },
         
      };
   },
   methods: {
      // isUserAuth - access sessionStorage and check whether a u_token is available or not.
      isUserAuth: function() {
         return this.$isUserAuth();
      },
      isCartEmpty: function() {
         return this.$isCartEmpty();
      },
      // updateCounter - a flag|variable to trigger the child components for virtual DOM re-evaluation. (ie. rendering)
      updateCounter: function() {
         this.counter = Date.now();
      },

      // handleSubviewOnMount - prepare data for subview(s)
      handleSubviewOnMount: async function(payload) {
         // reset 
         this.notification = '';
         this.notificationLevel = 0;
         this.shouldDisplayToast = false;

         let _res = {}
         // reset
         this.viewLandingPayload = {};
         
         switch (payload.name) {
            case 'Landing':
               // run a _mget query to retrieve top 5 recommended reads to be displayed...
               _res = await this.$get('/searchForLanding', {});
               const _hits = this.$getMSearchHits(_res);
               if (null != _hits && _hits.length == 2) {
                  // reset
                  this.viewLandingPayload.hitsByRatings = _hits[0];
                  this.viewLandingPayload.hitsByPopularity = _hits[1];
               }
               break;
            case 'Book':
               // [debug]
               //console.log(`book payload -> ${payload.name} -? ${payload.docID}`);
               _res = await this.$get('/get', { docID: payload.docID, });
               const _hit = this.$isHitFound(_res);
               if (null != _hit && true == _hit['found']) {
                  // reset
                  this.viewLandingPayload.hitByGet = _hit['hit'];
                  if (true == payload.fromSearchList || 'true' == payload.fromSearchList) {
                     this.viewLandingPayload.returnSearchListing = true;
                  }
               }
               break;
            case 'Listing':
               const _payload = this.$store.state.searchCriteria;
               // [clone]
               //const _criteriaClone = JSON.parse(JSON.stringify(this.lastSearchByCriteria));
               _res = await this.$get('/search', _payload);
               const _res2 = this.$isValidESOperation(_res);
               if (true == _res2['200']) {
                  this.viewLandingPayload.hitsBySearch = _res2.payload; //this.$getQueryHits(_res);
               }
               break;
            case 'Checkout':
               // [debug]
               //console.log(`checkout... ${this.$getUsername()}`);
               _res = await this.$get('/cart', {
                  username: this.$getUsername(),
               })
               const _res2a = this.$isValidESOperation(_res);
               if (true == _res2a['200']) {
                  this.viewLandingPayload.cartContent = _res2a.payload;

               } else if (null != _res && null != _res.data && 401 == _res.data.code) {
                  /*
                   * if auth failed _res.data.code == 401
                   *    _res.data.errMsg -> JsonWebtokenError [unauthorized]
                   * 
                   */
                  // reset the auth status (has_u_token and u_name)
                  this.$setUserAuth(false);
                  this.$setUsername('');
                  this.$unsetCart();
                  this.handleMessageChangeBySubview({ 
                     message: `FAILED to get shopping cart. ${_res['data']['errMsg']}`, 
                     level: 2, 
                     needHeaderRefresh: true, 
                  });  
               }
               break;
         }
         // TODO: other routes~~~
      },
      handleSearchBy: async function() {
         // [bug??] if pushed the same route again... it won't update and no events triggered...
         /*
         if ('landing' == this.$router.options.history.state.back && 'landing' == this.$router.currentRoute.value.name) {
            this.needToRunQueryForSubview = true;
         }*/
         this.sequence++;
         this.$router.push({ path: `/book/listing/${this.sequence}` });
      },
      handleMessageChangeBySubview: function(payload) {
         this.notification = payload.message;
         this.notificationLevel = payload.level;
         this.shouldDisplayToast = true;
         if (true == payload.needHeaderRefresh) {
            // force header to refresh
            this.updateCounter();
         }
      },
      handleToastClose: function() {
         this.shouldDisplayToast = false;
      },

      handleHeaderRefreshCounter: function() {
         this.updateCounter();
      }

   },

}
</script>

<!-- open book cover api = https://covers.openlibrary.org/b/isbn/9780385533225-M.jpg  /b/isbn/{isbn}-{size}.jpg -->