<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="pt-3 pb-5 px-3">
      <div class="text-[24px] pt-2">Recommended Reads</div>

      <!-- mobile first design on the top-5 reads; 
         single entry for mobile per row, 
         middle or above is a 5 entry row
      -->
      <!-- no flex... just scrollable on the x-axis with a fixed width for md and free style on sm -->
      <div class="text-[16px] text-slate-700 pt-2 pb-2">by Ratings</div>
      <div class="md:flex overflow-x-scroll md:mx-4 no-scrollbar">
         <div v-for="(book, idx) in getHitsByRatings()" 
            class="md:flex-auto" >

            <book-item @bookClick="handleBookClick"
               :isbn="book['_source']['isbn']" 
               :docID="book['_id']"
               :isbn13="book['_source']['isbn13']" 
               :publisher="book['_source']['publisher']" 
               :authors="book['_source']['authors']" ></book-item>
         </div>
      </div>

      <div class="text-[16px] text-slate-700 pt-9 pb-2">by Popularity</div>
      <div class="md:flex overflow-x-scroll md:mx-4 no-scrollbar">
         <div v-for="(book, idx) in getHitsByPopularity()" 
            class="md:flex-auto" >

            <book-item @bookClick="handleBookClick"
               :isbn="book['_source']['isbn']" 
               :docID="book['_id']"
               :isbn13="book['_source']['isbn13']" 
               :publisher="book['_source']['publisher']" 
               :authors="book['_source']['authors']" ></book-item>
         </div>
      </div>
      

   </div>
</template>

<script>
import bookItem from './BookItem.vue';

export default {
   components: {
      bookItem,
   },
   emits: [ 'onMount', 'messageChange' ],
   props: {
      // a generic object containing 2 hits array for display...
      onMountPayload: Object,
      // need to re-run mount event??
      needToRunQuery: Boolean,
   },
   mounted() {
      // [debug]
      //console.log(`landing onMount ##`);
      this.$emit('onMount', { name: 'Landing' });
   },
   methods: {
      getHitsByRatings: function() {
         let _hits = [];
         if (null != this.onMountPayload && null != this.onMountPayload['hitsByRatings']) {
            _hits = this.onMountPayload['hitsByRatings'];
            // hits.hits
            if (null != _hits.hits && null != _hits.hits.hits) {
               _hits = _hits.hits.hits;
            }
         }
         return _hits;
      },
      getHitsByPopularity: function() {
         let _hits = [];
         if (null != this.onMountPayload && null != this.onMountPayload['hitsByPopularity']) {
            _hits = this.onMountPayload['hitsByPopularity'];
            // hits.hits
            if (null != _hits.hits && null != _hits.hits.hits) {
               _hits = _hits.hits.hits;
            }
         }
         return _hits;
      },

      handleBookClick: function(payload) {
         // route to ... book view
         this.$router.push({ path: `/book/${payload}/false` });
      },

   },
}
</script>