<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="pt-3 pb-5 px-3">
      <div class="flex pt-2">
         <div class="flex-none text-[24px] ">Results
            <span v-if="totalRecords > 0" class="text-[13px] text-slate-600 pl-2">{{totalRecords}} Found</span>
         </div>
         <div class="flex-grow text-right pt-2 px-9">
            <paginator v-if="totalRecords > 0" 
               @pageNumChange="handlePageNumChange"
               :totalRecords="totalRecords"
               :pageSize="pageSize"
               :currentPage="currentPage"></paginator>
         </div>
      </div>

      <!-- add no record found -->
      <div v-if="0 == totalRecords" 
         class="mt-3 mx-3 h-[500px] leading-[500px] rounded-md bg-slate-100 text-[20px] text-center align-middle shadow" >
         No Records Found... Please refine your search terms and try again!
      </div>

      <!-- normal listing if any -->
      <div v-for="(item, idx) in hitsArray"
         class="mb-3 md:flex md:mb-4 " >

         <!-- cover -->
         <div @click="handleBookClick(item._id)"
            class="md:flex-none md:w-[300px] md:h-[200px] md:mx-9 bg-slate-50 rounded-sm shadow cursor-pointer">
            <img :src='getBookCover(item._source.isbn)' 
               @load="bookCoverCheck"
               class="h-[300px] md:h-[200px] mx-auto px-5 py-5 text-center object-scale-down" />
         </div>
         <!-- book meta -->
         <div class="md:flex-auto mb-[40px] md:mb-3 md:h-[200px] px-4 md:py-5 pl-[12px] ">
            <div class="text-[16px] font-bold">{{item._source.title}}</div>
            <div class="text-[13px] text-slate-600 pb-3">by {{item._source.authors}}</div>
            <div class="relative -left-1">
               <ratings :ratings="item._source.average_rating" class="inline-block pr-3" ></ratings>
               <span class="text-[14px]">{{item._source.num_pages}} pages</span>
            </div>
            <div class="text-[14px]">
               <span class="font-bold">{{item._source.publisher}}</span> 
               <span class="pl-3 text-[14px]">{{item._source.publication_date}}</span>
            </div>
         </div>

      </div>

      <div class="text-right px-9">
         <paginator v-if="totalRecords > 0" 
            @pageNumChange="handlePageNumChange"
            :totalRecords="totalRecords"
            :pageSize="pageSize"
            :currentPage="currentPage"></paginator>
      </div>
      <!-- debug -->
      <span class="hidden">{{sequence}}</span>
      
   </div>
</template>

<script>
import paginator from './Paginator.vue';
import ratings from './Ratings.vue';

export default {
   components: {
      paginator,
      ratings,
   },
   props: {
      // a generic object containing the request book through the docID
      onMountPayload: Object,
      // need to re-run mount event??
      needToRunQuery: Boolean,
      sequence: String,
   },
   emits: ['onMount', 'messageChange'],
   mounted() {
      this.$emit('onMount', { name: 'Listing', });
   },
   data() {
      return {
         // [paginator related]
         currentPage: 1,
         pageSize: 10,
      };
   },
   watch: {
      // [lesson] works only if the "sequence" is used within the view|UI
      sequence: function() {
         let _criteria = this.$store.state.searchCriteria;
         _criteria['from'] = 0;
         this.$store.commit('setSearchCriteria', _criteria);
         // update the paginator's currentPage
         this.currentPage = 1;

         this.$emit('onMount', { name: 'Listing', });
      },
   },
   computed: {
      // hitsBySearch - return the hits payload if available
      hitsBySearch: function() {
         if (null != this.onMountPayload) {
            return this.onMountPayload.hitsBySearch;
         }
         return {};
      },
      // totalRecords - the record counts available for this search
      totalRecords: function() {
         const _p = this.hitsBySearch;
         if (null != _p) {
            if (null != _p.hits && null != _p.hits.total) {
               return _p.hits.total.value;
            }
         }
         return 0;
      },
      // hitsArray - the actual hits content within the payload if any
      hitsArray: function() {
         const _p = this.hitsBySearch;
         if (null != _p && null != _p.hits && null != _p.hits.hits) {
            return _p.hits.hits;
         }
         return [];
      },
      
   }, // end - computed
   methods: {
      handlePageNumChange: function(payload) {
         // run another search based on page num change
         let _criteria = this.$store.state.searchCriteria;
         _criteria['from'] = (payload - 1) * this.pageSize;
         this.$store.commit('setSearchCriteria', _criteria);
         // update the paginator's currentPage
         this.currentPage = payload;

         this.$emit('onMount', { name: 'Listing', });
      },
      getBookCover: function(isbn) {
         return `https://covers.openlibrary.org/b/isbn/${isbn}-M.jpg`;
      },
      bookCoverCheck: function(img) {
         this.$bookCoverCheck(img);
      },
      handleBookClick: function(id) {
         this.$router.push({ path: `/book/${id}/true` });
      },

   },
}
</script>