<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="absolute top-0 left-0 z-10 w-[calc(100%+0rem)] h-[calc(100%+0rem)] bg-[rgba(0,0,0,0.4)]" :class="cssBackdrop()">
      
      <div class="z-20 m-auto w-[500px] h-[580px] mt-[200px] bg-slate-100 rounded-2xl py-[12px] overflow-clip">
         <div>
            <fa-icon icon="circle" transform="right-31 up-8" class="text-[200px] text-amber-400" />
         </div>
         <!-- container for the main contents -->
         <div class="-top-[200px] relative">
            <div class="w-[200px] h-[200px] border border-sky-500 rounded-[50%] mx-auto mt-[45px]">
               <div class="leading-[200px] h-[200px] align-middle text-center">
                  <fa-icon icon="swatchbook" class="text-[120px]" transform="down-5 right-1" />
               </div>
            </div>
            <div class="text-center pt-4 text-[26px] text-slate-600">welcome back !</div>
            <div class="px-[60px] pt-[20px] flex">
               <input class="flex-auto border border-slate-300 rounded-md text-[18px] px-3 py-2" 
                  v-model="username"
                  placeholder="username" />
            </div>
            <div class="px-[60px] pt-[8px] flex">
               <input type="password" class="flex-auto border border-slate-300 rounded-md text-[18px] px-3 py-2" 
                  v-model="password"
                  placeholder="password" />
            </div>

            <div class="text-right px-[60px] pt-[40px]">
               <button @click="clickEvent('cancel')"
                  class="text-white bg-red-400 hover:bg-red-700 rounded-md px-6 py-2 mr-2 cursor-pointer" >Cancel</button>
               <button @click="clickEvent('login')"
                  class="rounded-md px-6 py-2 mr-2 cursor-pointer text-white bg-sky-500 hover:bg-sky-900 " >Login</button>
            </div>

            <div v-if="hasError()" class="border border-sky-700 text-red-500 h-[45px] mt-3 mx-3 rounded-md py-1 px-3 overflow-y-scroll">
               {{errMsg}}
            </div>

         </div>
      </div>


   </div>
</template>

<script>
export default {
   emits: [ 'loginClick' ],
   props: {
      // display the backdrop or not 
      show: Boolean,
   },
   data() {
      return {
         username: '',
         password: '',
         errMsg: '',
      };
   },
   methods: {
      cssBackdrop: function() {
         if (this.show == true) {
            return { 'block': true, 'hidden': false, 'z-20': true, 'z-10': false, };
         } else {
            return { 'block': false, 'hidden': true, 'z-20': false, 'z-10': true, };
         }
      },
      clickEvent: async function(payload) {
         // payload determines what is the next action
         // - cancel: hide this dialog
         // - login: sends username/pwd pair to server for validation in exchange for the u_token
         //    - return message { 'code': 200|500, 'error.msg': 'any error message if code == 500', 'u_token': 'VALID_U_TOKEN if code == 200' }
         //    - code == 500, display error message on the dialog
         //    - code == 200, update sessionStorage and hide this dialog
         // emit back 'loginClick' event with payload (if necessary) to the parent component
         
         // [debug]
         //console.log(`this is payload: ${payload}`);
         let _shouldEmit = true;
         switch (payload) {
            case 'login':
               const _res = await this.$post('/login', {
                  'username': this.username,
                  'password': this.password,
               });
               // handle the error or response...
               // _res => { code: 200|500, isAuthOk: true|false, errMsg }
               if (200 == _res.data.code) {
                  const _ok = _res.data.isAuthOk;
                  if (!(null == _ok || undefined == _ok)) {
                     this.$setUserAuth(_ok);
                     this.$setUsername(this.username);
                     // [lesson] should actually run another query to make sure there are items within the shopping cart...
                     this.$setCart();
                     this.reset();
                  }
               } else if (500 == _res.data.code) {
                  this.errMsg = _res.data.errMsg || _res.data.message;
                  _shouldEmit = false;
                  // [debug]
                  //console.log(_res);
               }
               break;
            case 'cancel':
               // reset 
               this.reset();
         }
         // whether should emit the emit and close the login dialog
         if (true == _shouldEmit) {
            this.$emit('loginClick', payload);
         }
      },
      hasError: function() {
         return this.errMsg != '';
      },
      reset: function() {
         this.username = '';
         this.password = '';
         this.errMsg = '';
      },

   },
}
</script>
