<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div>
      <fa-icon v-if="currentPage == 1" icon="chevron-left" class=" shadow-light-50 cursor-not-allowed pr-3"></fa-icon>
      <fa-icon v-if="currentPage != 1" icon="chevron-left" 
         @click="pageClick(currentPage-1)"
         class="hover:text-sky-600 shadow-light-50 cursor-pointer pr-3"></fa-icon>

      <span v-for="pnum in pageRange" class="pr-3">

         <!-- non current page -->
         <span v-if="pnum != currentPage" 
            @click="pageClick(pnum)"
            class="hover:text-sky-600 shadow-light-50 cursor-pointer">{{pnum}}</span>

         <!-- CURRENT page -->
         <span v-if="pnum == currentPage" 
            class=" text-sky-900 font-bold cursor-default underline underline-offset-[6px]">{{pnum}}</span>
         
      </span>

      <!-- need to display the final page?? -->
      <span v-if="needLastPageDisplay != -1">. . . 
         <span @click="pageClick(needLastPageDisplay)"
            class="hover:text-sky-600 shadow-light-50 cursor-pointer pr-3">{{needLastPageDisplay}}</span>
      </span>

      <fa-icon v-if="currentPage == pagesAvailable" icon="chevron-right" class=" shadow-light-50 cursor-not-allowed"></fa-icon>
      <fa-icon v-if="currentPage != pagesAvailable" 
         @click="pageClick(currentPage+1)"
         icon="chevron-right" class="hover:text-sky-600 shadow-light-50 cursor-pointer"></fa-icon>
   </div>
   <!-- [debug]
   totalRecords: {{totalRecords}}; pageSize: {{pageSize}}; currentPage: {{currentPage}}; 
   <br/>
   <br/>
   pagesAvailable: {{pagesAvailable}}; pageRange: {{pageRange}} -->
</template>

<script>
export default {
   props: {
      // total number of documents
      totalRecords: Number,
      // # of records|docs to display per page
      pageSize: Number,
      // the current page being displayed
      currentPage: Number,

      // mode determines the presentation of the paginator
      // 0 (default) - < 1 2 3 4 5 .. 21 >
      // 1 (compact) - < 2 of 21 >
      mode: Number,

   }, // end - props
   emits: [ 'pageNumChange' ],
   computed: {
      // pagesAvailable - calculate how many pages should be available.
      pagesAvailable: function() {
         let _pages = Math.floor(this.totalRecords / this.pageSize);
         if (this.totalRecords % this.pageSize != 0) {
            _pages+=1;
         }
         return _pages;
      },
      // pageRange - calculate the pages available for display
      pageRange: function() {
         let _r = [];
         const _pages = this.pagesAvailable;

         // calc range
         for (let _i = (this.currentPage-4); _i<(this.currentPage+5); _i++) {
            if (_i > 0 && _i <= _pages) {
               _r.push(_i);
            }
         }
         // [logic]
         // - find out the index where currentPage is located, 
         // - if it is >= 2 and found_index+2 <= length of range_array, set startIdx => found_index - 2, endIdx => found_index+2
         //
         // - if it is < 2, pick either 5 (startIdx=>0, endIdx=>4) OR if range_array.length < 5 -> pick all
         //
         if (_r.length <= 5) {
            return _r;
         }
         // extract only the last 5 elements
         const _idx = _r.indexOf(this.currentPage);
         let _startIdx = 0;
         let _endIdx = 0;
         if (_idx >= 2) {
            _startIdx = _idx - 2;
            _endIdx = _startIdx + 5;
         } else {
            _startIdx = 0;
            _endIdx = _startIdx + 5;
         }
         // [debug]
         //console.log(`#1 before adjustment ${_startIdx} - ${_endIdx}, ${this.currentPage} vs ${_pages}`);
         // endIdx adjustment
         if (_endIdx >= _r.length) {
            _endIdx = _r.length;
         }
         // [debug]
         //console.log(`#1a endIdx adjustment ${_startIdx} - ${_endIdx}, ${this.currentPage} vs ${_pages}`);
         // startIdx adjustment
         const _diff = _endIdx - _startIdx;
         if (_diff < 5) {
            const _startAdjust = 5 - _diff;
            if (_idx > _startAdjust) {
               _startIdx = _startIdx - _startAdjust;
               _endIdx = _startIdx + 5;
               if (_endIdx > _r.length) {
                  _endIdx = _r.length - 1;
               }
            }
            // [debug]
            //console.log(`#2 length adjustment ${_startIdx} - ${_endIdx}, ${this.currentPage} vs ${_pages} => _diff ${_diff}, sAdjust ${_startAdjust}`);
         }
         // [debug]
         //console.log(`#2a length adjustment ${_startIdx} - ${_endIdx}, ${this.currentPage} vs ${_pages} => _diff ${_diff}`);
         _r = _r.splice(_startIdx, _endIdx - _startIdx);
         return _r;
      },
      // needLastPageDisplay - required to display last page???
      needLastPageDisplay: function() {
         // need to display the last page number???
         const _pages = this.pageRange;
         if (_pages[_pages.length-1] != this.pagesAvailable) {
            return this.pagesAvailable;
         }
         return -1;
      },

   }, // end - computed

   methods: {
      pageClick: function(pnum) {
         this.$emit('pageNumChange', pnum);
      },

   },

}
</script>