<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="text-[13px]">
      <fa-icon v-for="idx in getColoredStars" class="pl-1" icon="star" ></fa-icon>
      <fa-icon v-for="idx in getNonColoredStars" class="pl-1" :icon="[ 'far', 'star']" ></fa-icon>
   </div>
</template>

<script>
export default {
   props: {
      ratings: Number,
   },
   computed: {
      getColoredStars: function() {
         const _rating = parseInt(this.ratings, 10);
         if (!isNaN(_rating)) {
            // [debug]
            //console.log(`colored: ${_rating}`);
            return _rating;
         }
         return 0;
      },
      getNonColoredStars: function() {
         return 5-this.getColoredStars;
      },
   },
}
</script>