<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="absolute top-0 left-0 z-10 w-[calc(100%+0rem)] h-[calc(100%+0rem)] bg-[rgba(0,0,0,0.4)]" :class="cssBackdrop()">
      <div class="z-20 w-[240px] h-auto mt-[52px] bg-slate-100 rounded-b-sm py-[12px]">
         <!-- login / profile option -->
         <div class="mx-2 bg-white rounded-sm px-4 py-2 cursor-pointer mb-1" @click="clickEvent('login')">
            <div>
               <fa-icon icon="user" class="pr-3"/>
               <span v-if="true == isUserAuth">Profile</span>
               <span v-if="false == isUserAuth">Login</span>
            </div>
         </div>
         <!-- shopping cart -->
         <div class="mx-2 bg-white rounded-sm px-4 py-2 cursor-pointer mb-1" @click="clickEvent('cart')">
            <div>
               <fa-icon icon="cart-arrow-down" transform="left-3" class="pr-2"/>
               <span>Checkout Cart</span>
            </div>
         </div>
         
         <!-- divider -->
         <div class="mx-2 mt-3 mb-1 h-2 border-t border-slate-300">&nbsp;</div>
         <!-- info -->
         <div class="mx-2 bg-white rounded-sm px-4 py-2 cursor-pointer mb-1" @click="clickEvent('info')">
            <div>
               <fa-icon icon="circle-info" class="pr-3"/>
               <span>Info</span>
            </div>
         </div>

      </div>
   </div>
</template>

<script>
export default {
   emits: [ 'optionClick' ],
   props: {
      show: Boolean,
   },
   computed: {
      isUserAuth: function() {
         return this.$isUserAuth();
      },
   },
   methods: {
      cssBackdrop: function() {
         if (this.show == true) {
            return { 'block': true, 'hidden': false, 'z-20': true, 'z-10': false, };
         } else {
            return { 'block': false, 'hidden': true, 'z-20': false, 'z-10': true, };
         }
      },
      clickEvent: function(payload) {
         this.$emit('optionClick', payload);
      },

   },
}
</script>
