<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// amazon bookstore remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div v-if="true == shouldDisplay" 
      @click="closeToast" 
      class="absolute z-30 bottom-0 right-0 mr-[20px] mb-[30px] cursor-pointer animate-bounce-once ease-in bg-slate-50 drop-shadow-2xl py-[30px] px-3 text-justify w-[400px] border-2 " 
      :class="cssToast()">
      {{message}}
   </div>
</template>

<script>
export default {
   emits: [ 'close' ],
   props: {
      // message - to be displayed.
      message: String,
      // level - a number indicating message level
      // 0 - info
      // 1 - warning
      // 2 - critical | error
      level: Number,

      shouldDisplay: Boolean,
   },
   watch: {
      // [lesson] if shouldDisplay == true then auto-close after 3 seconds
      shouldDisplay: function() {
         if (true == this.shouldDisplay) {
            const _ref = this;
            setTimeout(function() {
               _ref.closeToast();
            }, 3000);
         }
      },
   },
   methods: {
      cssToast: function() {
         let _c = {};
         switch (this.level) {
            case 0:
               _c['border-t-green-600'] = true;
               break;
            case 1:
               _c['border-t-amber-600'] = true;
               break;
            case 2:
               _c['border-t-red-600'] = true;
               break;
         }
         return _c;
      },
      closeToast: function() {
         this.$emit('close');
      },

   },
};
</script>