@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .app-width {
      @apply w-[800px]
   }
   .app-height {
      @apply h-[900px]
   }
   
   .zero-height {
      @apply h-0
   }

   .activity-view-container {
      @apply absolute bottom-0 left-0
   }
   .activity-view-height {
      @apply h-[600px]
   }
   .activity-view-inner-container {
      @apply w-[784px] mx-auto
   }

}

/*
 *   https://github.com/tailwindlabs/tailwindcss/discussions/2394
 *   https://github.com/tailwindlabs/tailwindcss/pull/5732
 */
@layer utilities {
   /* Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
     display: none;
   }

   .no-scrollbar {
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
   }
}